.article-wrapper {
    margin: 2.5vh;
    padding: 1.5vh;
    border-radius: 5px;
    background-color: #DAE4E5;
    border: 0.5vh outset #DAE4E5;
}

.article-title {
    font-size: 1.5em;
    margin-bottom: 1vh;
    color: #2B4A4A;
    text-indent: 5vh;
    font-weight: bold;
}

.article-text {
    color: #296E6B;
    text-indent: 3vh;
}
